/* Header.module.css */
.header {
  padding:0 1.2rem;
    background: #1976d2;      /* blu */
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 1.25rem;
    position: relative; height: 90px;
  }
  .title  { text-align:center; line-height:90px; font-size:2rem; }